* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main-body { 
    /* background: linear-gradient(rgba(47, 149, 163, 0.568), rgba(48, 62, 143, 0.705)) !important; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: whitesmoke;
    background-image: linear-gradient(rgba(47, 149, 163, 0.568), rgba(48, 62, 143, 0.705)), url('https://images.unsplash.com/photo-1525667218880-145f026b0ad0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1924&q=80');
} 

.search-bar .search {
    width: 50vh;
    display: flex;
  }

  .search-bar .searchTerm {
    width: 100%;
    border: 2px solid #2192dd;
    border-right: none;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #9DBFAF;
  }
  .search-bar .searchTerm:focus{
    color: #2192dd;
  }
  .search-bar .search_button {
    width: 40px;
    height: 50px;
    border: 1px solid #2192dd;
    background: #2192dd;
    text-align: center;
    color: #fff;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 20px;
  }

/* CSS FOR NAV */


#color-nav a, a:visited, a:active {
    color: cornflowerblue !important;
    background-color: white;
    text-decoration: cornflowerblue !important;
}

/* CSS For FOOTER */
.container-fluid {
    background-color: white;
    overflow-x: hidden;
    color: cornflowerblue;
}


.center-content {
    margin-top: 120px;
    margin-bottom: 120px
}


.line {
    border-top: 1px solid ;
    width: 90% !important
}

.fa-mobile {
    font-size: 20px
}

#contact {
    font-size: 15px
}

.grey-text {
    color: white
}




/* CSS for main page title*/
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'Homemade Apple', cursive;
    line-height: 2.5rem;
    margin-bottom: 40px;
}
.main-text{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px !important;
}
.main-text strong{
    font-size: 40px;
}

/* search css */
.forecast-body{
    display: flexbox;
    width: max-content;
    justify-content: space-around;
    margin: 70px;
    padding: 30px;
    border: gainsboro solid 1px;
    border-radius: 20px;
    background-color: rgba(173, 216, 230, 0.185);
}
.location, .temperature{
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
}

.degree-section span{
    margin: 10px;
    font-size: 35px;
}
.degree-section h5{
    margin:15px;
}
.degree-section h2{
    font-size: 40px;
}

.icon{
    width: 14%;
}
.thecity{
    font-size: 30px;
    display: inline-flex;
    align-self: left;
}